root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[QMK/**]
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[ZMK/**]
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
